
/*styles for nav*/
nav {
    grid-area: nav;
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: right;
    align-content: center;
    height: 30px;
    /*border: 1px solid rgba(204, 20, 20, 0.925);*/
    background-color: bisque;
    border-radius: 3px;
}


/*styles for nested nav*/
/*styles for search bar buttons*/
button:hover {
    cursor: pointer;
    background-color: rgba(38, 48, 18, 0.39);
}




