/*styles for footer*/
footer {
    display: grid;
    grid-area: footer;
    border: 1px solid rgba(250, 153, 42, 0.13);
    border-radius: 3px; 
    background-color: rgba(241, 183, 57, 0.623); 
    /*border: 1px solid red;*/
    
}


/*styles for nested footer*/
.nested-footer-grid {
    display: grid;
    width: 90vw;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    
}
 


.nested-footer1 {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
    /*border: 1px solid rgb(20, 204, 158);*/
    background-color: rgba(241, 183, 57, 0.623); 
}




/*styles for icons*/
i {
    color: rgb(15, 113, 241);
}

.nested-footer2 {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
    background-color: rgba(240, 180, 51, 0.623);  
}

button {
    border: none;
    background-color: rgba(240, 180, 51, 0.623);  
    font-weight: bold;


}


button:hover {
    cursor: pointer;
    background-color: rgba(38, 48, 18, 0.39);
}


#home,
#about,
#contact {
    color:royalblue;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration:none;
}


