/*styles for nav*/
nav {
    display: grid;
    grid-area: nav;
    background-color: bisque;
}

.nav-bar {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 3px;

}

.bar1 {
    display: grid;
    color:rgb(5, 4, 7);
    justify-content: start;

    /*border: 1px solid rgb(104, 56, 216);*/
}
.bar2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /*border: 1px solid red;*/

}


button:hover {
    cursor: pointer;
    background-color: rgba(38, 48, 18, 0.39);
}