/*styles for main*/
main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;  
    grid-template-rows: repeat (4,1fr);
    border: 1px solid rgba(68, 67, 67, 0.014);
    background-color: rgba(240, 248, 255, 0.219);

}

/*styles for album*/
.album {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin: 10px;
    
}

/*styles for img*/
.img {
    border: 1px solid rgba(68, 67, 67, 0.014);
    background-color: rgba(130, 194, 250, 0.171);
    text-align: center;
}

/*styles for descrition*/
.description {
    text-align: center;
    border: 1px solid rgba(68, 67, 67, 0.014);
    background-color: rgba(240, 248, 255, 0.219);
}


